<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        /* Add some basic styles for readability */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            
          
        }

        h1 {
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        p {
            text-align: justify;
        }
    </style>

</head>

<body class="bg-dark-subtle">
    
    <div class="container">
        <h1>About Us</h1>
        <p>WELCOME TO THE BYTEFOURCE WEBSITE! We are passionate individuals who came together to create this project for a variety of reasons.</p>

        <h2>Our Mission</h2>
        <p>New York City's train system is a marvel, ranking number one across North America for its extensive network and accessibility.
           With numerous subway entrances and exits peppered throughout various neighborhoods, it significantly cuts down travel time by 
           bypassing the notorious New York City traffic. However, have you ever wondered why train performance varies so noticeably between subway stations? 
           At ByteFource, our mission is to delve into this inconsistency, exploring potential underlying factors,that might influence the quality of service across different stations. 
           We aim to not only highlight these disparities but also to foster a conversation about equitable transportation in our city.
        </p> <!-- Replace this with your project's mission -->

        <h2>Meet the Team</h2>
        <p>
            <strong>Hamzat Olowu:</strong> I am senior at City Tech majoring in Computer Systems. Take a look at my <a href="https://cha0stig3r.github.io/" target="_blank"> portfolio</a>.<br>
            <strong>David Mejia:</strong> I am a senior at Queens College majoring in Computer Science. Take a look at my  <a class="link-underline-opacity-0" href="https://www.linkedin.com/in/davidmejia1/" target="_blank"> Linkedin</a>.<br>
            <strong>Khaled Ahmed:</strong> I am a senior at Queens College majoring in Computer Science. Take a look at my <a href="https://www.linkedin.com/in/khaled-ahmed1/" target="_blank"> Linkedin</a>.<br>
            <strong>Baljinder Hothi:</strong> I am a senior at City College majoring in Computer Science. Take a look at my <a href="https://www.linkedin.com/in/baljinder-hothi/" target="_blank"> Linkedin</a>.<br>
            <!-- Add more creators as needed -->
        </p>

        <h2>Why This Project?</h2>
        <p>
            The subway is an integral part of daily life for many New Yorkers. When traveling to certain destinations, like downtown Manhattan, the journey often feels seamless – 
            trains run smoothly without delays, and the service is consistent. But have you noticed a change in your experience as you travel to 
            other areas, such as uptown Manhattan, particularly beyond 125th Street? Here, delays become more frequent, and the service seems less 
            reliable. Why is there such a stark contrast in the quality of subway service across different parts of the city? This project aims to 
            investigate these discrepancies. We believe that understanding and addressing these issues is key to ensuring equitable access to
             quality public transportation for all New Yorkers, regardless of where they live or travel.
        </p> <!-- Explain the motivation behind your project -->
 
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>



</html>
